*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.header-top{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; 
  z-index: 1000; 
}

.wrap-header-top{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    /* overflow: hidden; */
}


/* left-header */


.left-header-top .logo-kfc img{
    width: 74px;
    height: 78px;
    cursor: pointer;
}

/* none-mobile */
.left-header-top .logo-kfc .see-more{
  display: none;
}
/* ------------------ */

.left-header-top{
    display: flex;
}

.list-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-options ul{
 display: flex;
 /* justify-content: center; */
 

}

.list-options ul li {
    list-style: none;
   margin-right: 28px;
}

.list-options ul li a {
  position: relative;

    text-decoration: none;
    font-size: 19px;
    font-weight: 640;
    color: black;
}

.list-options ul li a::after{
  content: '';
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%) scaleX(0); 
  width: 100%; 
  height: 1px; 
  background-color: black; 
  transition: transform 0.8s ease; 
}

.list-options ul li a:hover::after{
  transform: translateX(-50%) scaleX(1);
}

/* <!-- popup see more --> */


.right-box-see-more{
  width: 360px;
  height: 800px;
  border: 1px solid rgb(236, 236, 236);
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: -390px;
  z-index: 5;
  box-shadow: 2px 2px 2px 2px rgba(122, 119, 119, 0.5);
  /* display: none; */

}

.wrap-box{
  width: 100%;
  position: relative;
}

.wrap-box .head-popup {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  
}

.wrap-box .head-popup .red-items{
  width: 16px;
  height: 36px;
  border: 1px solid rgb(170, 12, 12);
  background-color: rgb(170, 12, 12);
  margin: 0 4px;
}

.wrap-box .button-close{
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: larger;
  cursor: pointer;
}



.wrap-box hr{
  border-color: #202124;
  /* z-index: 6; */
}

.wrap-text-box{
  padding-left: 20px;
}

.wrap-text-box .row-popup div{
  cursor: pointer;
}

.wrap-text-box .row-popup div:hover{
 text-decoration: underline;
 text-decoration-color: rgb(197, 8, 8);
}

/* footer popup */

.footer-popup{
  padding-top: 36px;
  width: 100%;
  background-color: #202124;
  margin-top: 16px;
}

.footer-popup .wrap-icons-popup{
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.footer-popup .wrap-icons-popup div i {
  color: white;
  margin: 0 8px;
  font-size: 36px;
  transition: transform 1s ease;
}

.footer-popup .wrap-icons-popup div:hover i{
  transform: rotate(360deg);
}


.footer-popup hr{
  border-color: #ffffff;
  margin-top: 36px;
}

.footer-popup div {
  display: flex;
  justify-content: center;
}

.footer-popup div p {
  color: #dddada;
  font-size: small;

}

.logo-foot-popup{
  display: flex;
  justify-content: center;
  padding: 0 10px;
  
}

.logo-foot-popup .red-items{
  width: 16px;
  height: 36px;
  border: 1px solid rgb(253, 251, 251);
  background-color: rgb(255, 255, 255);
  margin: 0 4px;
}
/* center header-top */

.center-header{
  display: none;
}



/* right-heder-top */
.right-header-top{
    display: flex;
    align-items: center;
}

.right-header-top .button-booking button{
  padding: 8px 24px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #E4002B;
  border-radius: 28px;
  opacity: 0;
  transition: opacity 2s ease;
}

.right-header-top .button-booking button.show{
  opacity: 1;
}

.right-header-top .language{
    font-size: 16px;
    font-weight: 500;
}

.right-header-top > div {
    margin-right: 12px;
}

.right-header-top .user i, .right-header-top .cart i, .right-header-top .list-menu i{
    font-size: 28px;
    cursor: pointer;
    
} 

/* mobile */

@media (max-width: 768px) {

body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: #E4002B;
}

.header-top{
  width: 100%;

}


.header-top .container{
  width: 100%;
}

.header-top .list-options{
  display: none;
}

.right-box-see-more{
  display: none;
}

.wrap-header-top {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
/* left-header-mobile */

.left-header-top .logo-kfc img{
  display: none;
}

.left-header-top .logo-kfc .see-more{
  display: block;
}

.left-header-top .logo-kfc .see-more i{
  font-size: 28px;
}



/* center-header logo */

.wrap-header-top .center-header{
  display: block;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.wrap-header-top .center-header img{
  width: 90px;
  height: auto;
}

/* right-header */
.right-header-top .list-menu{
  display: none;
}

.right-header-top .button-booking{
  display: none;
}

}